
body{
    background-color: rgba(0, 128, 0, 0.74);
}

.billede1{
    width: 100%;
    height: 300px;
}











/*computer version start*/
@media screen and (min-width: 920px) {
    #section1 {
      display: flex;
      flex-direction: row;
    }
}